
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Cc]ache/

appsettings.Production.json
appsettings.Development.json
*.pem
*.pfx
*.publishsettings

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains Rider
.idea/
*.sln.iml

*.nuget.props
*.nuget.targets
packages/
project.lock.json
project.fragment.lock.json

# Node modules (Only if your Web API shares a directory with a frontend SPA framework)
node_modules/

.DS_Store
Thumbs.db
*.swp
*~
log.txt
*.log
